html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #F5FEFD;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #007BFF;
  width: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #F5FEFD;
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  line-height: 1.618;
  letter-spacing: 0.5;
}

li {
  font-size: 1rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.bold {
  font-weight: 700;
}

strong {
  font-weight: bold;
}

.credits {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem 0;
}

.credits p {
  font-size: 1rem;
}

.credits a {
  font-size: 1rem;
}

.credits a:hover {
  color: #007BFF;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  position: -webkit-sticky;
  position: sticky;
}

.logo {
  color: #c5c1c1;
  text-transform: uppercase;
  font-size: 20px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

.nav-links .selected {
  color: #007BFF;
  font-weight: 700;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #007BFF;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#section1 {
  height: 80vh;
  background: rgba(0, 0, 0, 0.301);
  color: white;
}

.overlay {
  background-image: url(/images/header.jpg);
  background-position: center;
  background-size: cover;
}

#section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
}

.button {
  text-decoration: none;
  padding: 12px 22px;
  border: 2px solid #007BFF;
  border-radius: 10px;
  background-color: #007BFF;
  border: none;
  font-size: 1.25rem;
  color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button:hover {
  background-color: #002d8f;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section1text {
  margin: 0 98px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4 / span 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  width: 45%;
}

.section1text h1 {
  color: #fff;
  line-height: 1;
  margin-bottom: 1.309rem;
  font-weight: 300;
}

.section1text h2 {
  color: #fff;
  margin-bottom: 3.236rem;
  line-height: 1.309;
  font-weight: 300;
}

#section2 {
  height: auto;
  text-align: center;
  margin: 0 98px;
  padding-bottom: 1.618rem;
}

#section2 h1 {
  padding: 1.618rem 0;
  font-weight: 300;
  letter-spacing: -0.5;
}

#section2 .button {
  margin-bottom: 1.618rem;
}

#section2 h2 {
  margin-bottom: 0.4045rem;
  font-weight: 700;
}

#section2 p {
  margin-bottom: 0.809rem;
  width: 50%;
}

#section2 img {
  margin-bottom: 0.809rem;
}

.section2heading {
  margin: 0 auto;
  margin-bottom: 1.618rem;
  text-align: center;
  padding-top: 2.1875rem;
  -webkit-text-decoration: underline #007BFF;
          text-decoration: underline #007BFF;
}

.section2cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.618rem;
}

.section2cards2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 1.618rem;
}

.card1, .card2, .card3, .card4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 1.618rem;
  line-height: 1.618;
  border: 3px solid #007BFF;
  margin-right: 1.618rem;
  margin-left: 1.618rem;
  margin-bottom: 1.618rem;
  background-color: #E5FCFA;
}

.card1 p, .card2 p, .card3 p, .card4 p {
  opacity: 80%;
}

/* SECTION 2 END */
/* SECTION 3 START */
#section3 {
  height: auto;
  background-color: #E5FCFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2rem;
}

#section3 h1 {
  line-height: 1.618;
}

.section3image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 98px;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3image img {
  width: 500px;
}

.section3text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-right: 98px;
  line-height: 1.618;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3text a {
  font-size: 1rem;
  letter-spacing: 0.15;
  text-decoration: underline;
}

.section3text a:hover {
  color: #007BFF;
}

.section3text h1 {
  padding-top: 0.809rem;
}

.section3text h2 {
  width: 90%;
}

.section3text li {
  line-height: 1.618;
  list-style-type: none;
}

.section3text h2 {
  margin-bottom: 1.618rem;
}

.rating {
  padding-top: 1rem;
  width: 100px;
}

/* SECTION 3 END */
footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 1.618rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 98px;
  height: auto;
  border-top: 2px solid gray;
  text-align: center;
}

footer a:hover {
  color: #007BFF;
}

footer a {
  font-size: 1rem;
}

footer h2 {
  text-align: center;
}

.footer1head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer1, .footer2, .footer3 {
  width: 30%;
}

.footer2head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer3 a {
  padding: 0.3rem 0;
}

.footer3head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutsectionnumber {
  padding-top: 0.809rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.aboutsectionnumber h1 {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  border: 4px solid #007BFF;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 1rem;
}

.aboutsectiontext {
  width: 50%;
  margin: 0 auto;
  line-height: 1.618;
  padding: 0;
}

#aboutsection1 {
  height: 90vh;
  background-image: url(/images/runner.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.aboutsection1heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3,236rem;
}

.aboutsection1links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 450px;
  width: 15rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.aboutsection1links h2 {
  text-align: center;
  margin: 0 auto;
}

#aboutsection2 {
  height: auto;
  text-align: center;
  margin: 0 98px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1.618rem;
}

#aboutsection2 h1 {
  padding: 0.809rem 0;
}

#aboutsection2 h2 {
  padding-bottom: 0.809rem;
}

.aboutsection2cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutsection2cards .aboutsectionimage {
  text-align: center;
}

.aboutcard1, .aboutcard2, .aboutcard3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 20rem;
  line-height: 1.618;
  text-align: left;
}

.aboutcard1 p, .aboutcard2 p, .aboutcard3 p {
  margin-bottom: 0.809rem;
  font-size: 1rem;
}

.aboutcard1 a, .aboutcard2 a, .aboutcard3 a {
  font-size: 1rem;
}

.aboutcard1 li, .aboutcard2 li, .aboutcard3 li {
  font-size: 1rem;
}

.aboutspan {
  text-align: left;
}

.section2heading {
  padding-top: 0;
  height: auto;
  margin-top: 0;
}

#disclaimer {
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1.618rem;
}

#aboutsection3 {
  height: auto;
  background-color: #E5FCFA;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1.618rem;
}

#aboutsection4 {
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1.618rem;
}

.aboutsection4p {
  width: 100%;
  text-align: center;
  padding-bottom: 1.618rem;
}

.aboutsection4content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  line-height: 1.618;
  max-width: 60rem;
  margin: 0 auto;
}

.aboutsection4content p {
  text-align: left;
  font-size: 1rem;
  line-height: 1.618;
}

.aboutsection4content label {
  font-size: 1.25rem;
}

.tab h1 {
  padding-bottom: 1rem;
}

#aboutsection5 {
  height: auto;
  background-color: #E5FCFA;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1.618rem;
}

#aboutsection5 .aboutsectiontext {
  height: auto;
}

#aboutsection6 {
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1.618rem;
}

#aboutsection6 a {
  font-size: 1rem;
  text-decoration: underline;
}

#aboutsection6 a:hover {
  color: #007BFF;
}

#aboutsection7 {
  height: auto;
  background-color: #E5FCFA;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1.618rem;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: block;
  padding: 0.809rem 1.618rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #90CAF9;
  font-weight: bold;
  -webkit-transition: background ease 0.2s;
  transition: background ease 0.2s;
}

.tabs .tab {
  -webkit-box-ordinal-group: 100;
      -ms-flex-order: 99;
          order: 99;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: none;
  padding: 0.809rem;
  background: #fff;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: #fff;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

#contactform {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  margin: 0;
}

#contactform h1 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4/ span 6;
  margin: 0;
  color: black;
  -webkit-text-decoration: underline #007BFF;
          text-decoration: underline #007BFF;
  padding-bottom: 1.618rem;
}

#contactform .form {
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3/ span 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4/ span 6;
}

#contactform .form input, #contactform .form textarea {
  width: 100%;
  margin: 0 auto;
  border: 2px solid black;
  color: black;
  padding: 0.809rem;
  font-size: 1rem;
}

#contactform .form textarea {
  height: 12.5rem;
  margin-bottom: 1.618rem;
}

#contactform input[type=text] {
  margin-bottom: 1.618rem;
}

#contactform input:focus, #contactform textarea:focus {
  border: 2px solid #007BFF;
  outline: none;
}

.contacttext {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.618rem 0;
  width: 50%;
  margin: 0 auto;
}

.contacttext li {
  list-style: none;
  line-height: 1.618;
}

@media screen and (max-width: 1140px) {
  .aboutsectiontext {
    width: 90%;
    font-size: 1.25rem;
    margin: 0 auto;
  }
  #aboutsection2 {
    height: auto;
    margin: 0;
    width: 100%;
  }
  .aboutsection2cards {
    display: block;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .aboutcard1, .aboutcard2, .aboutcard3 {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1.618rem;
  }
  .aboutcard1 h2, .aboutcard2 h2, .aboutcard3 h2 {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 1rem;
  }
  .aboutcard1 p, .aboutcard2 p, .aboutcard3 p {
    width: 90%;
    margin: 0 auto;
  }
  .aboutcard1 li, .aboutcard2 li, .aboutcard3 li {
    width: 90%;
    margin: 0 auto;
  }
  .aboutsectionimage {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .section2heading {
    width: 100%;
    text-align: center;
  }
  #aboutsection3 {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  #aboutsection4 {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  #aboutsection5 {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  #aboutsection6 {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  #aboutsection7 {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 1060px) {
  .section1text {
    margin: 0 auto;
    width: 95%;
    text-align: center;
  }
  #section2 {
    height: auto;
    margin: 0 auto;
  }
  .section2heading {
    padding-top: 0.809rem;
  }
  .section2cards {
    height: auto;
    width: 95%;
    margin-bottom: 0.809rem;
  }
  .section2cards2 {
    height: auto;
    width: 95%;
    margin-bottom: 0.809rem;
  }
  .card1, .card2, .card3, .card4 {
    margin-bottom: 1.618rem;
  }
  .card1 p, .card2 p, .card3 p, .card4 p {
    width: 60%;
  }
  #section3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    margin: 0 auto;
  }
  #section3 h1 {
    text-align: center;
  }
  .section3image {
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.809rem 0;
  }
  .section3text {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0.809rem;
    text-align: left;
  }
  .section3text h2 {
    text-align: center;
  }
  footer {
    margin: 0;
    height: auto;
    display: block;
    text-align: center;
  }
  .footer1head, .footer2head, .footer3head {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
  }
  .footer1head img {
    padding: 0;
  }
  .credits {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  .credits a:hover {
    color: #007BFF;
  }
  #contactform h1 {
    font-size: 7vw;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #contactform input, #contactform textarea {
    font-size: 1vw;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 780px) {
  h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  li {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .aboutsectionnumber h1 {
    width: 4.25rem;
    height: 4.25rem;
  }
  footer {
    margin: 0;
    height: auto;
    display: block;
    text-align: center;
  }
  .footer1head, .footer2head, .footer3head {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
  }
  .footer1, .footer2, .footer3 {
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(245, 254, 253, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 50%;
    -webkit-transform: translatex(100%);
            transform: translatex(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  #contactform h1 {
    font-size: 9vw;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #contactform .form {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / span 10;
  }
  .contacttext {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 2rem;
    width: 80%;
    margin: 0 auto;
  }
  .contacttext li {
    list-style: none;
    line-height: 1.5;
  }
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
/*# sourceMappingURL=main.css.map */